.navbar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1024px;
    width: 100%;
    margin-left: 10%;


    /* padding: 0;

    /* display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 1024px;
    width: 100%;
    margin-left: 50px;
    padding: 0; */
}



.navbar-logo {
    flex-grow: 1;
    padding-right: 20%;
    margin-right: 60%;
}

.logo-image{
    width: 100px;
    height: auto;
}

.navbar-menu {
    display: flex;
    /* gap: 1rem; */
    /* width: 100%;
    justify-content: flex-end; */
    align-items: center;
}

.create-spot-link {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    font-weight: 600;
    display: inline-block;
    border: none;
    padding: 8px 16px;
    border-radius: 50px;
    position: relative;
    transition: 0.3s;
    margin-right: 20px;
    width: 150px;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); */
}

.create-spot-link:hover{
    color: inherit;
    background-color:  rgba(0, 0, 0, 0.1);
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}
