.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-logo {
    flex-grow: 1;
    padding: 30px;
}

.logo-image{
    max-height: 30px;
}

.navbar-menu {
    display: flex;
    gap: 1rem;
  }
