.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    width: 100%;
    /* padding-right: 50px;
    padding-left: 50px; */
    padding: 0;
    /* padding: 50px; */
}

.navbar-logo {
    flex-grow: 1;
    padding: 30px;
}

.logo-image{
    max-height: 30px;
}

.navbar-menu {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
